.place__title {
    margin: 0;
    justify-content: start;
    align-items: center;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
}
@media screen and (max-width: 1023px) {
    .place__title {
        max-width: 340px;
        width: 100%;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        width: calc(100% - 16px * 2);
        margin: 0 auto;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        
    }
}
