.place__address {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    color: #AAAAAA;
}

@media screen and (max-width: 1023px) {
    .place__address {
       max-width: 352px;
       margin-bottom: 10px;
    }
}