.header__logo {
    max-width: 176px;
    max-height: 52px;
    width: 100%;
    position: absolute;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .header__logo {
       max-width: 176px;
      
    } 
   }
   @media screen and (max-width: 1023px) {
    .header__logo {
       max-width: 176px;
    } 
   }
   @media screen and (max-width: 767px) {
    .header__logo {
       max-width: 142px;
       width: 100%;
    } 
   }