.header__logo {
    max-width: 176px;
    max-height: 52px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-left: 0;
}

   @media screen and (max-width: 767px) {
    .header__logo {
       max-width: 142px;
    } 
   }