.lead__title {
    max-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
}

@media screen and (max-width: 1279px){
    .lead__title {
        max-width: 720px;
        font-size: 96px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        margin-top: 59px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        width: 100%;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        margin-top: 0;
    }
}