.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
  .footer__links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 0;
    margin-left: 0;
  }
}