.lead__image {
    max-width: 984px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
}
@media screen and (max-width: 1279px){
    .lead__image {
        max-width: 928px;
        margin-top: 56px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        max-width: 768px;
        margin-top: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-width: 320px;
        margin-top: 40px;
    }
}

