.intro__text {
    max-width: 690px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-left: 0;
    justify-content: start;
    margin-bottom: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px){
    .intro__text {
        width: 100%;
        min-height: 209px;
        margin-bottom: 32px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
        margin-bottom: 32px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        max-width: 288px;
        font-size: 16px;
        margin-bottom: 45px;
    }
}
