.lead__subtitle {
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 1279px){
    .lead__subtitle {
        max-width: 640px;
        font-size: 30px;
        margin-top: 19px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        max-width: 640px;
        font-size: 30px;
        margin-top: 32px;
        margin-top: 8px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        margin-top: 16px;
        line-height: 20px;
    }
}

