.place__link {
    align-self: end;
    font-size: 18px;
    opacity: 1;
    transition: all 0.5s ease;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1279px){
    .place__link {
        max-width: 456px;
       
    }
}

@media screen and (max-width: 1023px) {
    .place__link {
       max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        display: none;
    }
}
