.cover__title {
    position: relative;
    margin: 0;
    max-width: 550px;
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    text-align: center;
    z-index: 2;
  }
  @media screen and (max-width: 1279px) {
    .cover__title {
      font-size: 72px;
      line-height: 76px;
    }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}