.footer {
    max-width: 1184px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 92px;
    text-decoration: none;
    margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
    .footer {
      max-width: 928px;
      margin-right: 48px;
      margin-left: 48px;
    }
}
@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 310px;
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 118px;
  }
}