.intro__title {
    max-width: 690px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-bottom: 33px;
    margin-left: 0;
    justify-content: start;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 1279px){
    .intro__title {
        max-width: 690px;
        margin-bottom: 35px;
        font-size: 54px;
        line-height: 58px;
        
    }
}

@media screen and (max-width: 1023px) {
    .intro__title {
        max-width: 720px;
        width: 100%;
        font-size: 54px;
        line-height: 58px;
       
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 288px;
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 35px;
       
    }
}
